
body {
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23DCEFFA' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}

.contenedor{
    width: 1440px;
    margin: auto;
    margin-top: 120px;
}

header{
    height: 400px;
    background-color: #F47C0B;
}

.menu{
    height: 50px;
    background-color: #C2E3A2;
}

#contenido {
    display: flex;
    height: 250px;
}

.menu2{
    height: 800px;
    background-color: white;

}


main{
    height: 250px;
    display: flex;
}
#main_verde{
    width: 33.33%;
    background-color: green;
}
#main_amarillo{
    width: 33.34%;
    background-color: yellow;
}

#main_celeste{
    width: 33.33%;
    background-color: skyblue;
}

#seccion_final{
    height: 240px;
    display: flex;
}
#art1, #art2, #art3, #art4, #art5, #art6{
    width: 16.66%;
}
#art1, #art3, #art5{
    background-color: darkblue;
}
#art2, #art4, #art6{
    background-color: orange;
}

footer{
    background-color: skyblue;
    height: 100px;
}