body {
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23DCEFFA' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}

#logo{
    width: 250px;
}

/* DARLE DIRECCION AL HEADER */
header{
    display: flex;
    flex-wrap: wrap;
}

nav{
    width: 600px;
    margin: auto;
    display: flex;
    /* ALINEAR HORIZONTALMENTE LOS ELEMENTOS DENTRO DEL CONTENEDOR */
    justify-content: space-around;
    /* WRAP POR SI NO CABE UNA CAJA, COLOCARLA EN LA LINEA DE ABAJO */
    flex-wrap: wrap;
    border: 1px red solid;
}

nav section{
    width: 196px;
    border: 1px solid black;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.container {
    width: 800px;
    margin: auto;
}


a {
    text-decoration: none;
}